{% extends 'base.html' %}
{% block content %}
<h2>Create New Location</h2>
<form action="{% url 'location:create_form' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
        <label for="id_name">Name:</label>
        {{ form.name }}
    </div>

    <div>
        <label for="id_latitude">Latitude:</label>
        {{ form.latitude }}
    </div>

    <div>
        <label for="id_longitude">Longitude:</label>
        {{ form.longitude }}
    </div>

    <div>
        <label for="id_description">Description:</label>
        {{ form.description }}
    </div>

    <div>
        <label for="id_photo">Photo:</label>
        {{ photo_form.photo }}
    </div>

    <button type="submit">Create</button>
</form>

{% endblock content %}
