{% extends 'base.html' %}

{% block content %}

<h1>{{ location.name }}</h1>
{% if location.user == request.user %}
<a href="{% url 'location:update_form' location.pk %}">Update</a>
<a href="{% url 'location:delete' location.pk %}">Delete</a>
{% endif %}
<hr>
{{ location.description }}
<hr>
{{ location.likes_count }} Likes
<hr>
{{ location.created_at }}
<hr>
{{ location.updated_at }}
<hr>
Created by: {{ location.user }}
<hr>

{% if request.user.is_authenticated %}
<form action="{% url 'location:like' location.pk %}" method="POST">
    {% csrf_token %}

    {% if not already_liked %}
    <button type="submit">Like</button>
    {% else %}
    <button type="submit">Unlike</button>
    {% endif %}
</form>
{% else %}
<p>Please <a href="{% url 'accounts:user_login' %}">login</a> to add like</p>
{% endif %}


<!-- Photo Formの表示 -->
{% if user.is_authenticated %}
<h4>Photo</h4>
<form action="{% url 'location:photo_form' location.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ photo_form }}
    <button type="submit">Upload</button>
</form>
{% endif %}

<!-- Photoの表示 -->
{% if photos %}
{% for photo in photos %}
    <img src="{{ photo.photo.url }}" alt="Unavailable photo" width="500" height="300">
    {% endfor %}
{% else %}
No photos uploaded...
{% endif %}


<h4>Comments</h4>    
<!-- CommentFormの表示 -->
{% if user.is_authenticated %}
<form action="{% url 'location:comment_form' location.pk %}" method="post">
    {% csrf_token %}
    {{ comment_form }}
    <button type="submit">Add comment</button>
</form>
{% endif %}

<!-- Commentの表示 -->
{% if location.comments.all %}
{% for comment in location.comments.all %}
{{ comment.comment }} - {{ comment.user }} - {{ comment.created_at }}<hr>
{% endfor %}
{% else %}
No Comments...
{% endif %}

{% endblock content %}
