{% extends 'base.html' %}

{% block content %}

{% if location.user == request.user %}
<p>
    <a class="link-opacity-10" href="{% url 'location:update_form' location.id %}">Update</a>
</p>
<p>
    <a class="link-opacity-10" href="{% url 'location:delete' object.id %}">Delete</a>
</p>
{% endif %}
{{ location.name }}
<hr>
{{ location.description }}
<hr>
{{ location.created_at }}
<hr>
{{ location.updated_at }}
<hr>
{{ location.user }}
<hr>

{% for photo in photos %}
<img src="{{ photo.photo.url }}" alt="Unavailable photo" width="500" height="300">
{% endfor %}


{% endblock content %}
